@import "tailwindcss";

@layer base {
  /* Egyéni alapstílusok */
}

@layer components {
  /* Egyéni komponens stílusok */
}

@layer utilities {
  /* Egyéni segédosztályok */
}
/* app/globals.css */

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.animate-loading {
    animation: loading 2s linear infinite;
}

@theme {
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-brownCoffee: #4A2C2A;
    --color-brownlight: #E5D3B3;
    --color-brownMiddle: #987554;
    --color-brownUltra: #804d20;
}
