@import "tailwindcss";

@layer base {
  /* Egyéni alapstílusok */
}

@layer components {
  /* Egyéni komponens stílusok */
}

@layer utilities {
  /* Egyéni segédosztályok */
}
/* app/globals.css */

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.animate-loading {
    animation: loading 2s linear infinite;
}

